<launch>
	<arg name="base_name" default="p3dx_base"/>
  <arg name="robot_position" default="-x 0.0 -y -0.5 -z 0.189795 -R 0 -P 0 -Y -1.571593" />
  <arg name="arm_name" default="cyton1500_arm"/>
  <arg name="robot_name" default="fused_bot"/>

	<!-- Gazebo  -->  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="world_name" value="$(find p3dx_cyton1500_fusion)/world/fusion_demo.world"/>
  	<arg name="paused" value="false"/>
  	<arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- fused_bot in Gazebo -->
  <include file="$(find p3dx_cyton1500_fusion)/launch/fusion_gazebo.launch">
     <arg name="robot_name" value="$(arg robot_name)" />
     <arg name="base_name" value="$(arg base_name)"/>
  	 <arg name="arm_name" value="$(arg arm_name)"/>
     <arg name="robot_position" value="$(arg robot_position)" />
  </include>

	<!-- RVIZ -->
	<include file="$(find fusion_moveit_config)/launch/move_group.launch"/>
  <include file="$(find fusion_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="True"/>
  </include>

  	<!--
  	<include file="$(find gamma_1500_moveit_config)/launch/move_group.launch"/>
  <include file="$(find gamma_1500_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="True"/>
  </include>
-->
  	
  	
  	
  	
  	
  	<!--group ns="$(arg arm_name)">
  		<param name="robot_description" textfile="$(find cyton_gamma_1500_description)/cyton_gamma_1500.urdf" />
  		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model cyton_gamma_1500" />
  	</group-->
  	
  	
   
</launch>
