<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="QS18VP6LLP_laser">
	
	<!-- Import Rviz colors -->
  <!--xacro:include filename="$(find p3dx_cyton1500_fusion)/xacro/materials.xacro" /-->
	
	<joint name="QS18VP6LLP_laser_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="virtual_endeffector"/>
    <child link="QS18VP6LLP_laser_link"/>
  </joint>
	
	
	<!-- Laser Model -->
  <link name="QS18VP6LLP_laser_link">
    <visual>
      <origin xyz="0 0.009 0" rpy="1.57079633 0 0"/>
      <geometry>
      <mesh filename="package://p3dx_cyton1500_fusion/meshes/QS18VP6LLP_laser/qs18.dae" scale="0.0007 0.0007 0.0007"/>
      <!--mesh filename="$(find p3dx_cyton1500_fusion)/meshes/QS18VP6LLP_laser/QS18VP6LLP_laser.dae" scale="0.0007 0.0007 0.0007"/-->
      </geometry>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>
	
	<!-- Laser Gazebo Link -->
	<gazebo reference="QS18VP6LLP_laser_link">
		<sensor type="ray" name="QS18VP6LLP_laser_sensor">
			<pose>0 0 0 0 1.570796327 0</pose>
			<visualize>true</visualize>
			<always_on>true</always_on>
			<update_rate>40</update_rate>
			<ray>
				<scan>
					<horizontal>
						<samples>2</samples>
						<resolution>1</resolution>
						<!-- 0.0229183deg is the angular spread of the laser from the sensor we used-->
						<min_angle>4.7119893</min_angle>
						<max_angle>4.71238898</max_angle>
					</horizontal>
				</scan>
				<range>
					<min>1.125</min>
					<max>2.0</max>
					<resolution>0.01</resolution>
				</range>
				<noise>
					<type>gaussian</type>
					<!-- Noise parameters based on published spec for Hokuyo laser
		             achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
		             stddev of 0.01m will put 99.7% of samples within 0.03m of the true
		             reading. -->
					<mean>0.0</mean>
					<stddev>0.0</stddev>
				</noise>
			</ray>
			<plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
				<topicName>/fused_bot/QS18VP6LLP_laser/scan</topicName>
				<frameName>QS18VP6LLP_laser_link</frameName>
			</plugin>
		</sensor>
	</gazebo> 
	
	



		
</robot>


